.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background: black;
    color: white;
    height: 60px;
    padding-right: 30px;
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 25px 2px black;
}

.post{
    color: darkorange;
}