.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background: black;
    color: white;
    font-size: 30px;
    height: 60px;
    margin-bottom: 20px;
    padding-right: 30px;
}