.box{
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:420px;
    border: 2px solid white;
    background: darkgrey;
    padding: 20px 0;
    gap:5px;
}

.button,.noValid{
    border: 2px solid white;
    background: black;
    color: white;
    width: 100px;
    transition: 0.2s;
}

.button:hover{
    color: black;
    width: 105px;
    background: chartreuse;
    transition: 0.2s;
    box-shadow: 2px 2px 15px;
}

.noValid{
    background : darkgray;

}